[submodule "ssmi_ws/src/SSMI"]
	path = ssmi_ws/src/SSMI
	url = https://github.com/ExistentialRobotics/SSMI.git
[submodule "ssmi_ws/src/ros_gz"]
	path = ssmi_ws/src/ros_gz
	url = https://github.com/gazebosim/ros_gz.git
	branch = noetic
